* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}
body {
  background-color: #cff4fc52;
  /* color code hex */
  direction: rtl; /* ltr */
  display: flex;
  flex-direction: column; /* row */
  align-items: center;
}

img {
  width: 100%;
}

.row {
  width: 750px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.top {
  margin-bottom: 100px;
}

.top img {
  overflow: hidden;
  border-radius: 6px;
}
.botttom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content {
  text-align: right;
  margin-bottom: 15px;
}
.content h2{
    margin-bottom: 10px;
}
.description{
    font-size: 18px;
    color: #324a62;
    line-height: 25px;
}